@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #9B8496;
    height: 100vh;
    color: white;
}
header#cabecalho{
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    position: fixed; /* position: sticky nao funcionou */
    width: 100%;
}
header a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    color: white;
}

ul#itens{
    display: flex;
    list-style: none;
}
ul#itensli{padding: 10px 0 10px 0;}
ul#itens li a:hover{
    background-color: whitesmoke;
    transition: 0.6s;
    border-radius: 10px;
    color: black;
}
img{
    width: 32px;
}

section#inicio{
    background: url(../img/praia01.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
section#inicio h1{
    font-size: 3.2rem;
    margin-bottom: 12px;
}
section#inicio h3{
    font-size: 1.8rem;
    margin-bottom: 12px;
}
section#inicio a{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: white;
    padding: 20px 50px;
    border-radius: 4px;
    text-transform: uppercase;
}
section#inicio a:hover{
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.671);
}

section#conheca-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    text-align: center;
}
section#conheca-hotel h3{
    font-size: 1.8rem;
    margin-bottom: 30px;
}
section#conheca-hotel p{
    max-width: 800px;
    margin-bottom: 30px;
}
section#conheca-hotel hr{
    width: 400px;
    height: 2px;
    border-color: rgb(0, 0, 0);
}
ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
ul.grid li{
    list-style: none;
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
li.small{
    flex: 1 1 40%;
}
li.large{
    flex: 1 1 60%;
}

section#carac{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 100px 50px;
    background-color: #31472C;
}
section#carac h3{
    font-size: 1.8rem;
    margin-bottom: 30px;
}
section#carac p{
    max-width: 1200px;
    margin-bottom: 30px;
}
section#carac hr{
    width: 400px;
    height: 2px;
    border-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
section#carac ul.intro{
    width: 100%;
    display: flex;
}
section#carac ul.intro li{
    padding: 0 30px;
    text-align: center;
    list-style: none;
}
section#carac span{
    font-size: 50px;
    margin-bottom: 20px;
}
section#carac h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

section#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
section#newsletter h3{
    font-size: 1.8rem;
    margin-bottom: 30px;
}
section#newsletter p{
    max-width: 1200px;
    margin-bottom: 30px;
}
section#newsletter hr{
    width: 400px;
    height: 2px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
section#newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}
section#newsletter input{
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgb(104, 104, 104);
}
section#newsletter input.email{width: 300px;}
section#newsletter input.cadastro{
    cursor: pointer;
    text-transform: uppercase;
}
section#newsletter input.cadastro:hover{
    background-color: rgba(255, 255, 255, 0.541);
    transition: 0.5s;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    padding: 40px;
    align-items: center;
}
footer ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
footer li{
    list-style: none;
    margin-right: 10px;
}
footer p{
    text-align: center;
}
@media (max-width: 700px){
    header{flex-direction: column;}
    header ul#itens{margin-bottom: 10px;}
    header img{margin-bottom: 10px;}
    section#inicio h1{font-size: 2.5rem;}
    section#inicio h3{font-size: 1.5rem;}
    section#carac .intro { flex-direction: column;}
    section#newsletter input.email{
        flex-direction: column;
        margin-bottom: 10px;
    }
}