@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
section#inicio{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
}
div.c1{
    background-color: aqua;
    padding: 80px;
    margin: 10px;
}
div.c2{
    background-color: red;
    padding: 80px;
    margin: 10px;
}
div.c3{
    background-color: green;
    padding: 80px;
    margin: 10px;
}